<div id="genome_browser" >
    <style>
     #bdDiv {
         width: 100%,
         float: left;
     }
     .powered-by {
         display: none;
     }
    </style>

    <script language="javascript" type="text/javascript" src="/dalliance/dalliance-all.js"></script>
    <script language="javascript" type="text/javascript" src="/browser/browser.js"></script>

    <script language="javascript">
     var sources = {{ track_configs | tojson }};
     /*
     var sources = [
         {
             name: 'Genome',
             twoBitURI: 'http://www.biodalliance.org/datasets/GRCm38/mm10.2bit',
             desc: 'Mouse reference genome build GRCm38',
             tier_type: 'sequence',
             trackType: "BDTrack",
             provides_entrypoints: true
         },
         {
             name: 'GWAS',
             renderer: "gwasRenderer",
             "forceReduction": -1,
             trackType: "BDTrack",
             bwgURI: 'http://localhost:8080/gwascatalog.bb'
         },
         {
             name: 'QTL',
             tier_type: 'qtl',
             renderer: "qtlRenderer",
             trackType: "BDTrack",
             uri: 'http://test-gn2.genenetwork.org/api_pre1/qtl/lod2.csv'
         }
     ];
     */

     var config = { wrapRenderer: WrappedRenderer.wrapRenderer,
                    browser: Browser,
                    tracks: sources
     };
     PS.main(config)();

    </script>

    <div id="psgbHolder"></div>

</div>
